<!-- TELA DE CADASTRO -->

<!DOCTYPE html>
<html ng-app="soVamu">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CADASTRO- aplicação em Angular JS</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <!-- css -->
    <!-- <link rel="stylesheet" href="./style.css">    -->

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

    <!-- angular -->
    <script src="../../lib/angular.js"></script>
    <script src="../../node_modules/angular-route/angular-route.js"></script>
    <script src="../TelaDeCadastro/cadastroController.js"></script>
</head>

<!--CADASTRO -->

<body ng-controller="cadastroController">
    <!-- titulo -->
    <div class="titulo-cadastroDeUsuarios">
        <h4>{{titulo}}</h4>
    </div>
    <main>
        <form name="cadastraPessoa" class="cadastraPessoa container">
            <div class="row g-3 col-sm-10">
                <div class="col">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" id="nome" minlength="3" name="nome" ng-required="true" class="form-control" placeholder=""
                        name="text" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" ng-model="pessoa.nome"
                        aria-label="">
                        <div class ng-show= "cadastraPessoa.nome.$invalid">"Digite no mínimo 3 caracteres"</div>
                </div>
                <div class="col">
                    <label for="number" class="form-label">Idade</label>
                    <input type="number" id="number" min="1" pattern="[0-9]+$" ng-required="true" class="form-control"
                        placeholder="" ng-model="pessoa.idade" name="idade" aria-label="">
                        <div class ng-show= "cadastraPessoa.idade.$invalid">"A idade deve ser igual ou superior a 1"</div>
                </div>
            </div>
            <div class="row g-3 col-sm-10">
                <div class="col">
                    
                    <label for="profissao" class="form-label">Profissão</label>
                    <select class="form-control" ng-model="pessoa.profissao" name="profissao" ng-options="listaProfissoes for listaProfissoes in profissoes" ng-required="true">
                        <option value="">Selecione uma Profissão</option>
                    </select>                    

                </div>
                <div class="col">
                    <label for="cidade" class="form-label">Cidade de Nascimento </label>
                    <select class="form-control" ng-model="pessoa.cidade" name="cidade" ng-options="listaCidades for listaCidades in cidades" ng-required="true">
                        <option value="">Selecione uma Cidade</option>
                    </select>

                </div>
            </div>
            <div class="row g-3 col-sm-10">
                <div class="col">
                    <label for="peso" class="form-label">Peso</label>
                    <input type="text" id="peso" ng-required="true" name="numbers" ng-pattern= "/^\d{0,3}.\d{0,3}$/"
                     class="form-control" placeholder="" ng-model="pessoa.peso" name="peso" aria-label="">
                     <!-- <div class ng-show="cadastraPessoa.peso.$invalid">"O peso deve ser preenchida"</div> -->
                    
                </div>
                <div class="col">
                    <label for="aniversario" class="form-label">Aniversário</label>
                    <input type="date" id="aniversario" ng-required="true" name="aniversario" ng-pattern= "/^\d{2}//\d{2}//\d{4}$/"
                        class="form-control" placeholder="" ng-model="pessoa.aniversario">
                        <div class ng-show= "cadastraPessoa.aniversario.$invalid">"A data deve ser preenchida: 00/00/0000"</div>
                </div>
            </div>
            <div class="button-cadastro">
                <!-- <div class ng-show= "cadastraPessoa.$invalid">"Por favor preencha todos os campos"</div> -->
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button ng-click="" type="submit" class="btn btn-primary me-md-2" type="button">Voltar</button>
                    <button ng-click="cadastra_pessoa(cadastraPessoa.$valid)" type="submit" class="btn btn-primary" ng-disabled="cadastraPessoa.$invalid" 
                        type="button">Salvar</button>
                </div>
            </div>
        </form>
    </main>
</body>