<!DOCTYPE html>
<html ng-app="soVamu">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> PAGINA INICIAL- aplicação em Angular JS</title>
    <!-- bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="./style.css">

    <!-- angular -->
    <script src="../../lib/angular.js"></script>
    <script src="../../node_modules/angular-route/angular-route.js"></script>
    <script src="./indexController.js"></script>



</head>

<!-- PAGINA INICIAL -->

<!-- <div ng-view></div> -->

<body ng-controller="indexController">

    <!-- titulo -->
    <div class="titulo-container">
        <h4 class="titulo">{{titulo}}</h4>
    </div>
    <!-- campo de busca -->
    <div class="campo-busca">
        <input class="busca" type="text" ng-model="busca">

    </div>

    <!-- botão de cadastrar -->
    <div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button ng-click="direcionaTelaCadastro()" class="btn me-md-2 btn btn-outline-dark"
                type="button">Cadastrar</button>

        </div>

    </div>
    <!-- tabela -->
    <table class="table table-formList">

        <thead class="cabecalho-formList">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Profissão</th>
                <th scope="col">Cidade de Nascimento</th>
                <th scope="col">Peso</th>
                <th scope="col">Aniversário</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pessoa in listaPessoas | filter:busca">

                <td>{{pessoa.nome}}</td>
                <td>{{pessoa.idade}}</td>
                <td>{{pessoa.profissao}}</td>
                <td>{{pessoa.cidade}}</td>
                <td>{{pessoa.peso}}</td>
                <td>{{pessoa.aniversario}}</td>
                <!-- botao editar e apagar -->
                <td>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <!-- <button ng-click="mostraPessoa(pessoa,$index)" class="btn btn-primary me-md-2" type="button">editar</button> -->

                        <a href="http://127.0.0.1:5500/app/component/TelaDeEdicao/edicao.html"><button class="btn-edit btn btn-outline-dark me-md-2"
                                ng-click="mostraPessoa(pessoa,$index)" type="button">editar</button></a>
                        <button ng-click="informaModalExcluir()" class=" btn btn-outline-dark" type="button" data-bs-dismiss="modal">apagar</button>
                    </div>
                    <!--MODAL EXCLUIR -->
                    <div ng-include="'modal-excluir.html'"></div>
                </td>
            </tr>

        </tbody>
    </table>


</body>

</html>