<!-- modal excluir-informativo -->
<div class="modal fade" id="modalExcluirInformativo" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">      
      <div class="modal-body conteudo-modal">
        <p class="modal-title atencao" id="exampleModalLabel">Atenção</p>
        <p class="modal-title" id="exampleModalLabel">Deseja prosseguir com a exclusão desse usuário?</p>
              <br>
        <p class="modal-title" id="exampleModalLabel"> A ação não poderá ser desfeita</p>
      </div>
      <div class="modal-footer">
        <button ng-click="direcionaTelaInicial()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>        
        <button ng-click="excluiPessoa(pessoa)" type="submit" class="btn btn-dark" class="btn-close"  data-bs-dismiss="modal" aria-label="Close" >EXCLUIR</button>
       
    </div>
    </div>
  </div>
</div>

