
.modal-dialog{
    border: solid 1px black;
}

.modal-title{
    display: flex;
    justify-content: center;
}

.modal-footer{
    display: flex;
    justify-content: space-between;
    border-top: solid 1px black;

}


